<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta
      name="description"
      content="This site offers useful tools for minecraft, as well as personal blogs and memorandums."
    />
    <meta name="keywords" content="minecraft, pixel-art, blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#e0e5ec">
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/style.css" as="style" media="all" />
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
    <style>
        html,body{
            background-color: var(--bg-color);
        }
        .lazyload, .main-container{
            display:none;
        }
    </style>
  </head>
  <body>
    <header class="home-header">
      <nav class="nav-links">
        <div>
          <a href="/" class="nav-link">home</a>
          <a href="/about" class="nav-link">about</a>
          <a href="/gallery" class="nav-link">gallery</a>
          <a href="https://github.com/ploptaw" class="nav-link">
            <i class="bi bi-github"></i> GitHub
          </a>
        </div>
      </nav>
    </header>
    {{ content | safe }}
</html>