/* 基本リセット */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* カスタムプロパティ */
:root {
  --bg-color: #e0e5ec;
  --shadow-dark: #a3b1c6;
  --shadow-light: #ffffff;
  --text-primary: #17253d;
  --input-padding: 1rem;
  --border-radius-small: 0.5rem;
  --transition-fast: 0.2s ease;
  --box-shadow: 5px 5px 10px var(--shadow-dark),
    -5px -5px 10px var(--shadow-light);
}

/* 全体のスタイル */
body {
  background-color: var(--bg-color);
  padding: 1rem;
  color: var(--text-primary);
  font-family: "Yu Mincho", serif;
  font-display: swap;
  font-size: 1.5em;
  line-height: 1.5;
}

/* リンク */
a,
.no-decoration {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.spacer {
  border: none;
  padding-bottom: 1rem;
}

/* 見出し */
h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0.5rem 0 0.4rem;
  padding-bottom: 0.5rem;
}
.h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

/* リスト */
ol,
ul {
  list-style-position: outside;
  padding-left: 1.2rem;
}

/* テーブル */
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.116);
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--shadow-dark); /* スクロールバーのつまみの色 */
  border-radius: var(--border-radius-small);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary); /* ホバー時の色 */
}

::-webkit-scrollbar-track {
  background: var(--bg-color); /* スクロールバーの背景 */
  border-radius: 6px; /* 角丸 */
}

/* ヘッダー */
.home-header {
  display: flex;
  margin-bottom: 2rem;
}

.nav-links {
  display: flex;
}

.nav-link {
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  color: var(--text-primary);
}

/* 記事 */
article {
  font-size: 1.2rem;
  line-height: 1.5;
}

.neumorphic {
  background: var(--bg-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--transition-fast);
}

/* グリッド */
.posts-grid {
  display: grid;
  gap: 1rem;
}

.posts-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* カード */
.post-card {
  padding: 1.5rem;
  position: relative;
}

.post-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.7rem;
}

.gallery-card {
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-small);
}

.pixel-art {
  max-width: 150px;
  image-rendering: pixelated;
}

.dot-icon::after {
  content: "";
  position: absolute;
  inset: auto 10px 10px auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.post-icon::after,
.tags li.tag-post::after {
  background-color: rgba(50, 190, 140, 0.7);
}

.tool-icon::after {
  background-color: rgba(150, 150, 240, 0.7);
}

.note-icon::after,
.tags li.tag-note::after {
  background-color: rgba(240, 150, 150, 0.7);
}

/* タグ */
.tags li {
  display: inline-block;
  padding: 0 0.2rem;
  margin: 0 1rem 0rem 0;
  border-radius: 1rem;
  background: #bdbeec;
  font-size: 0.9em;
}

.tags li.icon-only {
  color: transparent;
  position: relative;
  background: none;
}

/* アイコン表示 */
.tags li.icon-only::after {
  content: "";
  position: absolute;
  inset: auto 2.5rem 0.6rem auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.input {
  font-size: 1rem;
  border: none;
  padding: var(--input-padding);
  margin: 0 0.5rem 0.5rem 0;
  background: var(--bg-color);
  border-radius: var(--border-radius-small);
  box-shadow: inset 2px 2px 4px var(--shadow-dark),
    inset -2px -2px 4px var(--shadow-light);
  width: 100%;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background: var(--bg-color);
  border-radius: var(--border-radius-small);
  box-shadow: 5px 5px 10px var(--shadow-dark),
    -5px -5px 10px var(--shadow-light);
  transition: box-shadow var(--transition-fast),
    transform var(--transition-fast);
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-primary);
}

.result {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

/* メディアクエリ */
@media (max-width: 768px) {
  body {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .home-header {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .nav-link {
    padding: 0 0.7rem;
    font-size: 1.3rem;
  }

  .posts-grid {
    margin: 0.1rem;
    padding: 0.1rem;
  }

  .post-card {
    padding: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  .result {
    padding: 0.5rem 0;
    margin: 1rem 0;
  }

  .mob-hide {
    display: none;
  }
}
